@import "tailwindcss";
body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

.p-bg {
  background-image: linear-gradient(to right, #4f39f6, #9514fa);
}

.container {
  max-width: 75%;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 85%;
  }
}
